*.png filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
Example filter=lfs diff=lfs merge=lfs -text
video filter=lfs diff=lfs merge=lfs -text
files filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
\# filter=lfs diff=lfs merge=lfs -text
for filter=lfs diff=lfs merge=lfs -text
tracking filter=lfs diff=lfs merge=lfs -text
image filter=lfs diff=lfs merge=lfs -text
and filter=lfs diff=lfs merge=lfs -text
