@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .placeholder-style::placeholder {
    font-size: 16px;
    line-height: 19.2px;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
    
  }
}

.font-sansita-one {
  font-family: 'Sansita One', sans-serif;
}
.VIpgJd-ZVi9od-l4eHX-hSRGPd{
  display: none;
}
